body
{
background:url("construction 9.png");
background-size:cover;
border:groove teal; 
border-width: 15px;
}
#p1
{
background:rgba(0,0,0,0.5);
font-size:80px;
position:absolute;
left:28%;
box-sizing:border-box;
border-radius:10px;
}
#b1
{
background:rgba(0,200,0,0.5);
font-size:30px;
position:absolute;
top:30%;
left:20%;
box-sizing: border-box;
border-radius:20px;
border:groove teal;
}
#b2
{
background:rgba(0,200,0,0.5);
font-size:30px;
position:absolute;
top:30%;
left:33%;
box-sizing:border-box;
border-radius:20px;
border:groove teal;
}
#b3
{
background:rgba(0,200,0,0.5);
font-size:30px;
position:absolute;
top:30%;
left:54%;
box-sizing:border-box;
border-radius:20px;
border:groove teal;
}
#b4
{
background:rgba(0,200,0,0.5);
font-size:30px;
position:absolute;
top:30%;
left:63%;
box-sizing:border-box;
border-radius:20px;
border:groove teal;
}
#b5
{
background:rgba(0,200,0,0.5);
font-size:30px;
position:absolute;
top:30%;
left:72%;
box-sizing:border-box;
border-radius:20px;
border:groove teal;
}
#pa
{
background:rgba(0,0,100,0.9);
color:orange;
position:absolute;
top:70%;
font-size:30px;
box-sizing:border-box;
border-radius:10px;
}
#pb
{
background:rgba(0,0,0,0.9);
color:orange;
position:absolute;
top:77%;
font-size:20px;
box-sizing:border-box;
border-radius:10px;
}
#pc
{
background:rgba(0,0,0,0.9);
color:orange;
position:absolute;
top:77%;
left:30%;
font-size:20px;
box-sizing:border-box;
border-radius:10px;
}
#pd
{
background:rgba(0,0,0,0.9);
color:orange;
position:absolute;
top:77%;
left:60%;
font-size:20px;
box-sizing:border-box;
border-radius:10px;
}
#pic
{
padding:280px;
}
